<!DOCTYPE html>
<html>
  <head>
    <title>Mushrooming!</title>
	<meta charset="UTF-8">

    <!-- Fits the content better on mobile devices -->		
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- OpenLayers 3 -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.18.2/ol-debug.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.18.2/ol.css" type="text/css">

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>    

    <!-- Bootstrap + Awesome Fonts -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Slick Carousel plugin -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>

      <!-- Mapbox -->
      <script src="https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js"></script>

    <!-- Application dependent files + WKX & Sidebar plugins -->
    <script src="/javascript/map.js"></script>
    <script src="/javascript/routing.js"></script>
    <script src="/javascript/query_functions.js"></script>
    <script src="/javascript/jquery-sidebar.js"></script>
    <script src="/javascript/wkx.js"></script>
    <script src="/javascript/geolocation.js"></script>
      <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' /> <!--version-->

    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/ol_popup.css">    
    <link rel="stylesheet" href="/stylesheets/ol3-sidebar.css">
    <link rel="stylesheet" href="/stylesheets/onoffswitch.css">

  </head>

  <!-- Every time when a page is opened these functions are initialized -->
  <body onload="initMap(); routing(); tester();">
   
    <div id="sidebar" class="sidebar collapsed">
        
	  <!-- Nav tabs -->
      <div class="sidebar-tabs">
        <ul role="tablist">
	      <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
	      <li><a href="#find_mushrooms" role="tab"><i class="fa fa-database"></i></a></li>
	      <li><a href="#your_findings" role="tab"><i class="fa fa-pencil-square-o "></i></a></li>
          <li><a href="#location_settings" role="tab"><i class="fa fa-cog "></i></a></li>
        </ul>

	    <ul role="tablist">
	      <li><a href="#sign_out" role="tab"><i class="fa fa-sign-out"></i></a></li>
	    </ul>
        </div>

      <!-- Tab panes -->
      <div class="sidebar-content">

	    <!-- sidebar content home -->
	    <div class="sidebar-pane" id="home">
          <h1 class="sidebar-header">
            <p>Mushrooming!</p>
	        <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
          </h1>
	
          <!-- Buttons for different EventHandlers -->
	      <br>
	      <p><b>Routing functions:</b></p><br>
          <button id="start">start location</button><br>
          <button id="dest">destination location</button><br>
          <button id="navigate">calculate route</button><br>
          <button id="clear">clear route</button><br><br>

		  <button onclick="navigation()">NAVIGATION</button><br>

	      <p><b>Does not work on Chrome!</b></p> 
          <button id="locate">locate me</button>
	    
	    </div>

	    <!-- sidebar content find mushrooms -->
        <div class="sidebar-pane" id="find_mushrooms">
	      <h1 class="sidebar-header">
	        Find mushrooms!
	        <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
	      </h1>
	
	      <br><p><b>Testing functions</b></p><br>
	      <button onclick="getAllFindings()">getAllFindings</button><br>
	      <button onclick="getClosestDesiredMushroom(18.068390, 59.320579, 'kantarell')">getClosestDesiredMushroom</button><br><br>

	      <p><b>Functions to be implemented</b></p><br>

	      <button onclick="sidebar.open('function1');">
		  	<div>
		  		<br><p>Find the closest mushroom of specific type</p><br>
		  	</div>
		  </button>
 
		  <br><br>

		  <button onclick="sidebar.open('function2');">
		  	<div>
		  		<br><p>Find the closest mushroom of specific type and the shorthest path there</p><br>
		  	</div>
		  </button>
 
          <br><br>

	      <button onclick="sidebar.open('function3');">
		  	<div>
		  		<br><p>Find all mushrooms you can reach within a given time at a certain speed</p><br>
		  	</div>
		  </button>
	      	    

	    </div>


	    <!-- sidebar content you findings -->
	    <div class="sidebar-pane" id="your_findings">
 	      <h1 class="sidebar-header">
	        Your mushroom findings!
	        <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
	      </h1>

	      <br>
	      <p>Here maybe some functions to add and manipulate mushroom findings...</p>

  	    </div>
  	    
  	    
  	    <!-- sidebar content LocationSettings -->
        <div class="sidebar-pane" id="location_settings">
          <h1 class="sidebar-header">
            Location Settings
            <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
          </h1>

          <br>

		  <p>**Location Settings (Auto/Manual)
      	  <table width="100%">
            <tr>
              <td><font size="3">Auto fetch location</font></td>
              <td>
                <div class="onoffswitch">
                  <input checked="false" type="checkbox" onclick="autoLocationClicked(this);" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                  <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                  </label>
                </div>
              </td>
            </tr>
            <tr>
              <td><font size="3">Set Location Manually</font></td>
              <td></td>
            </tr>
          </table>
          </p>

        </div>
  	    
  	    
	    <!-- sidebar content for the mushroom info -->
	    <div class="sidebar-pane" id="info">
	      <h1 class="sidebar-header">
	        Mushroom info!
	        <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
	      </h1>

		  <br>

		  <!-- Buttons for operating the carousel, also works with swiping
		  <div class="carousel-buttons" align="center">
		    <button type="button" class="slick-prev">Previous</button>
		    <button type="button" class="slick-next">Next</button>
		  </div>-->
		  
		  <!-- Carousell is added as a div with no content -->
		  <div class="mushroomcontainer">
		    <div class="mushroomcarousel"></div>
		  </div>
		    
        </div>


		<!-- sidebar content for function 1 -->
	    <div class="sidebar-pane" id="function1">
	      <h1 class="sidebar-header"></h1>
	      
	      <br>
	      
	      <p>Find mushrooms of a specific type</p>
	      <select id="mushroomType">
	        <option value="undefined">Pick a mushroom species</option>
  	        <option value="kantarell">Kantarell</option>
	        <option value="punktplätt">Punktplätt</option>
	        <option value="alticka">Alticka</option>
	        <option value="vårplätt">Vårplätt</option>
	        <option value="tårticka">Tårticka</option>
	      </select>
	      
	      <br><br>
	    
	      <button onclick="getClosestDesiredMushroom(18.068390, 59.320579)">Search</button>
	      <button onclick="sidebar.open('find_mushrooms');">Abort</button>
	      
        </div>
		<!-- sidebar content for function 2 -->
	    <div class="sidebar-pane" id="function2">
	      <h1 class="sidebar-header"></h1>
	      
	      <br>
	      
	      <p>Find the closest mushroom of specific type and the shorthest path there</p>
	      <select id="mushroomType" onchange="">
	        <option value="">Pick a mushroom species</option>
  	        <option value="kantarell">Kantarell</option>
	        <option value="punktplätt">Punktplätt</option>
	        <option value="alticka">Alticka</option>
	        <option value="vårplätt">Vårplätt</option>
	        <option value="tårticka">Tårticka</option>
	      </select>
	      
	      <br><br>
	    
	      <button onclick="">Search</button>
	      <button onclick="sidebar.open('find_mushrooms');">Abort</button>
	      
	
        </div>
		<!-- sidebar content for function 3 -->
	    <div class="sidebar-pane" id="function3">
	      <h1 class="sidebar-header"></h1>
	      
	      <br>
	      
	      <p>Find all mushrooms you can reach within a given time at a certain speed</p>
	      <select id="time" onchange="">
	        <option value="">Pick a time (min)</option>
  	        <option value="10">10</option>
  	        <option value="20">20</option>
  	        <option value="30">30</option>
  	        <option value="40">40</option>
	      </select>
	      
	      <select id="speed" onchange="">
	        <option value="">Pick a speed (km/h)</option>
  	        <option value="4">4</option>
  	        <option value="6">6</option>
  	        <option value="8">8</option>
  	        <option value="10">10</option>
	      </select>
	      
	      <br><br>
	    
	      <button onclick="">Search</button>
	      <button onclick="sidebar.open('find_mushrooms');">Abort</button>
	     
        </div>


	    <!-- sidebar content sign out -->
	    <div class="sidebar-pane" id="sign_out">
	      <h1 class="sidebar-header">
	        Sign Out!
	        <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
	      </h1>
	      <br><p>Here can be some user information and create, login and sign out functionalities</p>
	    </div>

      </div>
      
    </div>

    <!-- Map container -->
    <div id="map" class="sidebar-map"></div>

    <!-- OpenLayers 3 Popup -->
    <div id="popup" class="ol-popup">
      <a href="#" id="popup-closer" class="ol-popup-closer"></a>
      <div id="popup-content"></div>
    </div>
	
  </body>
</html>

